name: Build and Release

on:
  release:
    types: [created]
    jobs:
      build-android:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout repository
            uses: actions/checkout@v3
    
          - name: Set up JDK 17
            uses: actions/setup-java@v3
            with:
              distribution: 'temurin'
              java-version: '17'
    
          - name: Set up Android SDK
            uses: android-actions/setup-android@v3
            with:
              packages: 'platform-tools build-tools;34.0.0 cmdline-tools;latest'
              accept-android-sdk-licenses: true
              log-accepted-android-sdk-licenses: true
    
          - name: Update submodules
            run: git submodule update --init --recursive
    
          - name: Create local.properties
            run: echo "sdk.dir=$ANDROID_SDK_ROOT" > local.properties
    
          - name: Create signing.properties
            run: |
              echo "keystore.path=/path/to/keystore/file" > signing.properties
              echo "keystore.password=${{ secrets.KEYSTORE_PASSWORD }}" >> signing.properties
              echo "key.alias=${{ secrets.KEY_ALIAS }}" >> signing.properties
              echo "key.password=${{ secrets.KEY_PASSWORD }}" >> signing.properties
    
          - name: Build Android app
            run: ./gradlew app:assembleMeta-AlphaRelease
    
          - name: Upload Android artifact
            uses: actions/upload-artifact@v4
            with:
              name: android-apk
              path: app/build/outputs/apk/metaAlphaRelease/*.apk
